.DS_Store
node_modules/
.env
.env.local
.env.*.local

# IDE user config
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Istanbul coverage
coverage/

# cypress
cypress/screenshots
cypress/videos

.vercel
.now

